@define-color red_color #cc241d;
@define-color red2_color #fb4934;
@define-color green_color #98971a;
@define-color green2_color #d8bb26;
@define-color yellow_color #d79921;
@define-color yellow2_color #fabd2f;
@define-color blue_color #458588;
@define-color blue2_color #83a598;
@define-color aqua_color #689d6a;
@define-color aqua2_color #8ec07c;
@define-color gray_color #a89984;
@define-color gray2_color #928374;
@define-color orange_color #d65d0e;
@define-color orange2_color #fe8019;

@define-color bg0_color #282828;
@define-color bg1_color #3c3836;
@define-color bg2_color #504945;
@define-color bg3_color #665c54;
@define-color bg4_color #7c6f64;
@define-color bg0_h_color #1d2021;

@define-color fg_color #ebdbb2;

#window {
  border: 1px solid @bg2_color;
  border-radius : 15;
  background-color: @bg2_color;
  font-family : "Fira Mono Medium";
  color: @fg_color;
}

#outer-box {
  padding : 30px 40px 30px 40px;
  border: 3px solid @bg2_color;
  border-radius : 15;
}

#input {
  border: 2px solid @fg_color;
  background-color: @bg2_color;
  border-radius : 5;
}

#scroll {
  margin: 35px 0px 0px 0px;
}

#inner-box {
}

#img {
  margin-right: 10px;
  margin-left: 5px;
  background-color: inherit;
}

#text {
  background-color: inherit;
} 

#entry:selected {
  border: 2px solid @green_color;
  border-radius : 5;
  background-color: @green_color;
}

#entry:unselected {
}

#entry{
}

